@import url("../assets/normalize.css");
@import url("home-screen-styles.css");
@import url("menu-screen-styles.css");
@import url("game-screen-styles.css");
@import url("round-end-panel-styles.css");
@import url("game-end-panel-styles.css");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Ms+Madi&family=Rubik+Doodle+Shadow&display=swap');

/* Google fonts symbols */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

:root {
  background-color: var(--background-color);
  --materials-text-font: "Material Symbols Outlined";
  --text-font-squiggly: "Agbalumo";
  --text-font-cursive: "Ms Madi";
  --xo-hover-font: "Rubik Doodle Shadow";

  --x-color: rgb(237, 174, 73);
  /* Warm orange */
  --o-color: rgb(72, 201, 176);
  /* Soft teal */
}

:root.light {
  --theme-name: "LIGHT MODE";
  --background-color: rgb(255, 248, 220);
  /* Light cream for background */
  --button-panel-background-color: rgb(240, 230, 198);
  /* Light beige for button panels */
  --button-background-color: rgb(244, 133, 65);
  /* Vibrant orange for buttons */
  --text-color: rgb(77, 77, 77);
  /* Dark gray for text */
  --text-notice-color: rgb(150, 150, 150);
  /* Medium gray for notices */
  --trick-color: rgb(255, 107, 107);
  /* Evil green for tricked spaces */
  --clicked-button-background-color: rgb(255, 107, 107);
  /* Light red for clicked buttons */
  --sub-title-linear-gradient: linear-gradient(90deg, #FFA500, rgb(255, 107, 107));
  /* Orange to Red */
  --start-game-text-color: rgb(244, 133, 65);
  /* Deep Orange */
  --button-hover-color: rgb(242, 134, 110);
  /* Soft Teal */

  --trick-text-shadow: 9px 7px 5px rgb(51, 48, 48);
  --trick-mobile-text-shadow: 4px 2px 3px rgb(51, 48, 48);
  --game-screen-panel-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --game-screen-grid-shadow: 0px 2.5px 5px 0px black;
}

:root.dark {
  --theme-name: "DARK MODE";
  --background-color: rgb(34, 40, 49);
  /* Navy Blue */
  --button-panel-background-color: rgb(58, 67, 82);
  /* Muted Teal */
  --button-background-color: rgb(87, 96, 111);
  /* Blue-Gray */
  --text-color: rgb(238, 238, 238);
  /* Light Gray */
  --text-notice-color: rgb(189, 189, 189);
  /* Darker Gray */
  --trick-color: rgb(26, 197, 51);
  /* Evil green for tricked spaces */
  --clicked-button-background-color: rgb(168, 218, 220);
  /* Light Teal */
  --sub-title-linear-gradient: linear-gradient(90deg, #FFD700, #FFA500);
  /* Yellow to Orange */
  --start-game-text-color: rgb(27, 111, 111);
  /* Dark Aqua */
  --button-hover-color: rgb(72, 201, 176);
  /* Soft Teal */

  --trick-text-shadow: 9px 7px 5px black;
  --trick-mobile-text-shadow: 4px 2px 3px black;
  --game-screen-panel-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  --game-screen-grid-shadow: 0px 5.4px 5px 0px black;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-name: "LIGHT MODE";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-name: "DARK MODE";
  }
}

button {
  cursor: pointer;
}

button.clicked {
  background-color: var(--clicked-button-background-color);
  color: rgb(78, 77, 77);
}

.hidden-layout {
  display: none;
}

.appear {
  opacity: 1;
  max-height: 1000px;
}

/* Add the following class selector to the game-screen element when round/game ends */
.game-screen-blur {
  filter: blur(10px);
  transition: filter 2s ease-in;
  z-index: 1;
}