@import url("../assets/normalize.css");
@import url("home-screen-styles.css");
@import url("menu-screen-styles.css");
@import url("game-screen-styles.css");
@import url("round-end-panel-styles.css");
@import url("game-end-panel-styles.css");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Bungee+Spice&display=swap");

/* Google fonts symbols */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

:root {
  background-color: var(--background-color);
  --text-font: "Bungee Spice";
  --title-font: "Archivo";
}

:root.light {
  --other-theme-name: "DARK MODE";
  --x-color: rgb(101, 227, 66);
  --o-color: rgb(241, 180, 64);
  --background-color: rgb(85, 16, 16);
  --button-panel-background-color: rgb(87, 12, 106);
  --button-background-color: rgb(71, 18, 71);
  --text-color: rgb(239, 220, 220);
  --text-notice-color: rgb(161, 160, 160);
  --trick-color: green;
  --clicked-button-background-color: yellow;
}

:root.dark {
  --other-theme-name: "LIGHT MODE";
  --x-color: blue;
  --o-color: orange;
  --background-color: rgb(100, 22, 100);
  --button-panel-background-color: rgb(55, 7, 74);
  --button-background-color: rgb(52, 14, 52);
  --text-color: rgb(239, 220, 220);
  --text-notice-color: rgb(161, 160, 160);
  --trick-color: green;
  --clicked-button-background-color: orange;
}

@media (prefers-color-scheme: light) {
  :root {
    --other-theme-name: "DARK MODE";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --other-theme-name: "LIGHT MODE";
  }
}

button {
  cursor: pointer;
}

.clicked {
  background-color: var(--clicked-button-background-color);
}

.hidden-layout {
  display: none;
}

.appear {
  opacity: 1;
  max-height: 1000px;
}

/* Add the following class selector to the game-screen element when round/game ends */
.game-screen-blur {
  filter: blur(10px);
  transition: filter 2s ease-in;
  z-index: 1;
}