.home-screen {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.home-screen>.grid-container {
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: repeat(3, minmax(auto, 250px));
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  place-items: center;
  background-color: var(--background-color);
}

.home-screen .game-name {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-items: center;
  gap: 6vw;
  font-size: 6rem;
  font-family: var(--text-font-squiggly), Times, serif;
  font-weight: bolder;
  color: var(--text-color);
}

.home-screen .game-name div:first-child {
  color: var(--trick-color);
  text-shadow: var(--trick-text-shadow);
}

@media (max-width: 600px) {
  .game-name div {
    font-size: 2.9rem;
  }

  .home-screen>.grid-container {
    grid-template-rows: 1fr 1.3fr 1fr;
    grid-template-columns: repeat(3, minmax(auto, 23vw));
    height: 90vh;
  }

  .home-screen .signs {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 4rem;
  }

  .home-screen .start-button {
    top: 20px;
    font-size: 3.2rem;
  }

  .home-screen .theme-button-container {
    padding: 10px;
    font-size: 0.6rem;
  }

  .home-screen .game-name div:first-child {
    text-shadow: var(--trick-mobile-text-shadow);
  }
}

.home-screen .signs {
  grid-area: 2 / 2 / 3 / 3;
  place-self: center;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 11rem;
  font-family: var(--text-font-cursive), Times, serif;
}

.x-sign {
  color: var(--x-color);
}

.o-sign {
  color: var(--o-color);
}

.home-screen .footer-buttons {
  grid-area: 3 / 2 / 4 / 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.home-screen .start-button {
  color: var(--button-background-color);
  height: 10vh;
  font-size: 2.5rem;
  padding-inline: 25px;
  font-family: var(--text-font-squiggly), Times, serif;
  color: var(--start-game-text-color);
  border: 2px solid var(--start-game-text-color);
  border-radius: 15px;
  box-shadow: 0px 6px 6px 0px black;
}

.home-screen .theme-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  background-color: var(--button-background-color);
  padding: 15px;
  width: 260px;
  font-size: 0.8rem;
  font-family: var(--materials-text-font), Times, serif;
  border-radius: 25px;
  z-index: 0;
}

.home-screen .theme-button {
  padding: 3px;
  border: 1px solid var(--button-background-color);
  border-style: ridge;
  z-index: 1;
  border-radius: 15px;
}

.home-screen .theme-button:hover {
  background-color: var(--trick-color);
}

.home-screen .theme-button::after {
  content: var(--theme-name);
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
}

@media (orientation: landscape) and (max-height: 500px) {
  .home-screen .game-name {
    font-size: 4rem;
  }

  .home-screen .signs {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 4rem;
  }

  .home-screen .start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    font-size: 1.5rem;
    padding: 22px 20px 22px 20px;
  }

  .home-screen .theme-button-container {
    font-size: 1rem;
  }
}

.home-screen .start-button:hover {
  transform: scale(1.2);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.home-screen .start-button:active {
  transform: scale(1.1);
  font-size: 2rem;
}