body {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.menu-screen {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.menu-screen .grid-container {
  position: relative;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 3fr 2fr 3fr 2fr 1fr;
  grid-template-columns: minmax(auto, 1fr);
  row-gap: 45px;
  justify-content: center;
  justify-items: center;
  height: 145vh;
  place-items: center;
}

.player-vs-ai-bot-options {
  display: contents;
}

@media (orientation: landscape) and (max-height: 500px) {
  .menu-screen .grid-container {
    height: 300vh;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
  }

  .menu-screen {
    min-height: 100vw;
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .menu-screen .grid-container {
    height: 180vh;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
  }
}

@media (max-width: 500px) {
  .menu-screen .grid-container {
    height: 180vh;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
  }
}

@media (max-width: 390px) {
  .menu-screen .grid-container {
    height: 200vh;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
  }
}

.menu-screen button {
  background-color: var(--button-background-color);
  color: var(--text-color);
  padding: 10px;
  padding-inline: 17px;
}

.menu-screen .header {
  grid-row: 1;
}

.menu-screen .exit-button {
  grid-row: 1;
  padding: 5px;
  padding-inline: 10px;
  position: relative;
  right: 40.14vw;
}

.menu-screen .header>.signs {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.mode-container,
.difficulty-container,
.ai-bot-sign-selection-container,
.rounds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--button-panel-background-color);
  padding: 25px;
  width: 80vw;

  /* Styles for fade in effect */
  opacity: 0;
  max-height: 0;
  transition: opacity 0.9s ease-in-out, max-height 1.2s ease-in-out;
}

.player-selection-container {
  grid-row: 2;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  background-color: var(--button-panel-background-color);
  padding: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 100px;
  width: 80vw;
}

.mode-container {
  grid-row: 3;
}

.modes {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 50px;
}

.regular-container,
.trick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.difficulty-container {
  grid-row: 4;
}

.difficulties,
.round-selection-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 20px;
}

.ai-bot-sign-selection-container {
  grid-row: 5;
}

.ai-bot-sign-selection-container>.buttons {
  display: flex;
  gap: 20px;
}

.rounds-container {
  grid-row: 6;
}

.menu-screen .start-container {
  display: contents;
}

.menu-screen .start-game-button {
  grid-row: 7;
  padding-inline: 38px;
  width: 350px;
  justify-self: center;
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
}