.round-end-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: var(--text-font-squiggly), Times, serif;
  word-spacing: 6px;

  /* Styles for showing the round end panel over the game screen */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.round-end-panel .grid-container {
  height: 50vh;
  display: grid;
  grid-template: 1fr 1.3fr 1fr / minmax(auto, 1fr), minmax(auto, 4fr),
    minmax(auto, 1fr);
  place-items: center;
  align-content: center;
  padding-inline: 8px;
  column-gap: 20px;
  background-color: var(--background-color);
  row-gap: 55px;
}

.round-end-panel .announcement {
  grid-row: 1;
  grid-column: 1 / span 3;
  font-size: 3.5rem;
  color: var(--text-color);
}

.round-end-panel .sign {
  grid-area: 2 / 1 / 3 / 4;
  font-size: 6rem;
  margin-right: 0.8vw;
  font-family: var(--text-font-cursive), Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-end-panel .options-container {
  grid-row: 3;
  display: contents;
}

.round-end-panel .options-container>button:first-child {
  justify-self: flex-end;
}

.round-end-panel .options-container>button:last-child {
  justify-self: flex-start;
}

.round-end-panel button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.2);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.round-end-panel button:active {
  transform: scale(0.9);
  font-size: 0.9rem;
}

.round-end-panel button {
  padding: 13px;
  padding-inline: 25px;
  background-color: var(--button-background-color);
  color: var(--text-color);
  border-radius: 15px;
  border: 1.5px solid var(--button-background-color);
  box-shadow: 0px 2px 4px 0px black;
}

@media (max-width: 1250px) {
  .round-end-panel .announcement {
    font-size: 2.5rem;
  }

  .round-end-panel .sign {
    font-size: 6rem;
  }

  .round-end-panel button {
    padding: 15px;
    padding-inline: 20;
  }
}

@media (max-width: 950px) {
  .round-end-panel {
    height: 40vh;
  }

  .round-end-panel .announcement {
    font-size: 1.9rem;
  }

  .round-end-panel .sign {
    font-size: 4rem;
  }

  .round-end-panel button {
    padding: 10px;
    padding-inline: 15;
    font-size: 0.75rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .round-end-panel {
    background-color: var(--background-color);
  }
}